{{define "404"}}
<html>
	{{template "header"}}
	<body>
		<div class="gopher-image">
		</div>
		<div class="notfound">
			<h1 class="notfound__header"> This page is not found ! Please go back to the main page ! </h1>
		</div>
	</body>
	{{ template "scripts"}}
</html>
{{end}}
