{{define "header"}}
<head lang="en">
	<title> Image Compress </title>
	<meta name="description" content="compress web app for images from imgur and imageshack">
	<meta name="subject" content="image compress engine">
	<meta charset="utf-8">
	<meta name="Compress web app">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
	<script type="text/javascript" src="static/js/index.js"></script>
</head>
{{end}}
