{{define "body"}}
<body>
	<header class="hero">
		<h2> Image Compress
	</header>
	<div class="container">
		<h5> Now you can compress images from imgur and image shack to share them more easily</h5>
		<p> Body content for Image Compress</p>
	</div>
</body>
{{end}}
